html { 
  background: url(../img/Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  /*background-image: url("../img/Background.png");*/
}

html, body {
  overflow-x: hidden;
}

.mybar {
  text-align:center;
  position:absolute;
  top:45%;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #DCDCDC;
  opacity: 0.5;
}

/*h1 {
  text-align:center; 
}

h2 {
  text-align:center;
}*/
