html { 
  background: url(../img/Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  /*background-image: url("../img/Background.png");*/
}

/*html, body {
  overflow-x: hidden;Prevents horozontal scrolling if this ends up being an issue. 
}*/

.mybar {
  text-align:center;
  font: bold 12px/25px Arial, sans-serif;
  position:absolute;
  top:20%;
  left:0;
  right:0;
  height:400px;/*60vh if I want to to be 60% of window height*/
  background: rgba(0,0,0,0.5);
}

.button {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font: bold 12px/25px Arial, sans-serif;
  color: #006680;
  background: #70c9e3;
}


