html { 
  background: url("../img/DSCN2059_zpsfac32f62.JPG"); /*no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}
